@import controllers.Bolsones

@(bolsones: Seq[Bolsones])(implicit request: RequestHeader)

@main("") {
    <div>
        <header>
            <h1 class="title">Mi Huerta Orgánica</h1>
            <section class="acronym">
                <abbr class="title" title="Ventas al por mayor y por menor">Delivery de frutas y verduras</abbr>
            </section>
            <section>
                <ul id="main">
                    <li><a href="@controllers.routes.HomeController.index()">Home</a></li>
                    <li><a class="active" href="@controllers.routes.HomeController.bolsones()">Bolsones</a></li>
                    <li><a href="@controllers.routes.HomeController.frutas()">Frutas</a></li>
                    <li><a href="@controllers.routes.HomeController.verduras()">Verduras</a></li>
                    <li><a href="@controllers.routes.HomeController.sucursales()">Sucursales</a></li>
                    <li><a href="@controllers.routes.HomeController.faq()">FAQ</a></li>
                    <li class="myAccount"><a href="login.html">Mi Cuenta</a></li>
                </ul>
            </section>
        </header>

        <div class="container-fluid bg-3 text-center">
            <h3>Bolsones con los que contamos</h3><br>
            <div class="row bolsones">
                @for(bolson <- bolsones) {
                    <div id="bolson" class="bolson col-sm-4">
                        <p>@bolson.name</p>
                        <img src="@routes.Assets.versioned(bolson.img)" class="img-circle" alt="Image" width="350" height="300">
                        <div class="row">
                            <div class="descripcion container col-sm-12">
                                <h3>Descripcion</h3>
                                <dl>
                                    <dt>Contenidos</dt>
                                    @for(contenido <- bolson.contents) {
                                        <dd>- @contenido</dd>
                                    }
                                    </br>
                                    <dt>Precio</dt>
                                    <dd class="price">€ @bolson.price</dd>
                                </dl>
                                <button type="button" data-id="@bolson.id" class="btn-pedir btn btn-info">Hace tu pedido</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div id="order" class="order row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 pedido">
                    <p>Completa tu pedido</p>
                    @helper.form(action = helper.CSRF(controllers.routes.ContactController.contact()), args = 'id -> "contact") {
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="name" placeholder="Introduzca el nombre" name="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Introduzca el email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="telefono">Telefono de contacto:</label>
                            <input type="tel" class="form-control" id="contactNumber" placeholder="Introduzca el telefono" name="contactNumber">
                        </div>
                        <div class="form-group">
                            <label for="del">Delivery:</label>
                            <select name="delivery" class="delivery">
                                <option value="true">Si</option>
                                <option value="false">A recoger</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Ordenar</button>
                    }
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
}