@(messageError: Seq[String])(implicit request: RequestHeader)

@authenticate = {
    <div id="login" class="modal">
        @helper.form(action = helper.CSRF(controllers.routes.AuthenticationController.authenticate())) {
            <div class="imgcontainer">
                <span class="close" title="Close Modal">&times;</span>
            </div>

            <div class="container2">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
            </div>

            <div class="container2">
                <button type="button" class="cancelbtn">Cancel</button>
            </div>
        }
    </div>
}

@main("") {
    <header>
        @if(messageError.nonEmpty) {
            <p class="invalid">@messageError.mkString(",")</p>
        }
        <h1 class="title">Mi Huerta Orgánica</h1>
        <section class="acronym">
            <abbr class="title" title="Ventas al por mayor y por menor">Delivery de frutas y verduras</abbr>
        </section>
        <section>
            <ul id="main">
                <li><a class="active" href="@controllers.routes.HomeController.index()">Home</a></li>
                <li><a href="@controllers.routes.HomeController.bolsones()">Bolsones</a></li>
                <li><a href="@controllers.routes.HomeController.frutas()">Frutas</a></li>
                <li><a href="@controllers.routes.HomeController.verduras()">Verduras</a></li>
                <li><a href="@controllers.routes.HomeController.sucursales()">Sucursales</a></li>
                <li><a href="@controllers.routes.HomeController.faq()">FAQ</a></li>
                <li class="myAccount"><button id="loginbtn">Mi Cuenta</button></li>
                @authenticate
            </ul>
        </section>
        <section>
            <img src="@routes.Assets.versioned("images/portada.jpg")" alt="Portada" class="portada">
        </section>
    </header>

    <div class="mainSection">
        <section class="section1">
            <h3 class="titleSection">Delivery de frutas y verduras orgánicas!! (CAPITAL Y ZONA OESTE)</h3>
            <p>SUMATE VOS TAMBIÉN A LA MOVIDA SALUDABLE ENVIÁNDONOS UN MENSAJE CON TU DIRECCION Y TELÉFONO!!</p>
            <h5>Zonas de entrega:</h5>
            CABA, RAMOS MEJÍA, HAEDO, CIUDADELA, ITUZAINGO, MORÓN Y CASTELAR.
            <h5>Los bolsónes cuentan con:</h5>
            Manzana, naranjas, anco, acelga, repollo, lechuga, zanahorias, zapallito y kale, y está sujeto a cambios según la cosecha de la semana.
            </br>
            </br>
            <b>Los pedidos se toman hasta que se acabe el cupo disponible y los delivery serán los días sábados. El rango horario de entrega es entre las 9 y 16 horas dependiendo de la zona.</b>
        </section>
        <section class="section1">
            <h3 class="titleSection">Alimentos orgánicos</h3>
            Se consideran "orgánicos" aquellos alimentos, en general vegetales y frutas que en NINGUNA etapa de su producción intervienen fertilizantes, herbicidas o pesticidas químicos, así como tampoco en los suelos donde son cultivados.
            <h5>Beneficios:</h5>
            Tienen muchas más vitaminas, minerales y antioxidantes que los productos convencionales. Los productos orgánicos no contienen residuos de pesticidas, por lo cual se vuelven más seguros para quien los consume. Los pesticidas están relacionados con problemas del sistema digestivo, intoxicaciones, diarrea, mareos y ansiedad. De esta forma, una dieta libre de sustancias tóxicas siempre será benéfico para el cuerpo.
            <h5>Compuestos orgánicos:</h5>
            Son totalmente libres de pesticidas, antibióticos, hormonas, esteroides y otras prácticas que afectan el sistema inmunitario a largo plazo.
        </section>
        <section class="section1">
            <h3 class="titleSection">Aspecto de los alimentos orgánicos</h3>
            Debido a que no se usa pesticidas, los alimentos orgánicos tienden a ser de un tamaño mucho menor, con un aspecto más pobre. Este también será el caso de las carnes y los alimentos de origen animal, ya que no existe la inyección de hormonas de crecimiento.
            <h5>La presencia de plaguicidas en los alimentos orgánicos:</h5>
            Aunque sean más caros y no tan vistosos, los alimentos orgánicos están libres de estas sustancias y no traerá riesgos a su salud.
            <h5>Higiene orgánica también es necesario:</h5>
            Que sea orgánico no significa sanitario, así que también se debe limpiar los alimentos orgánicos como un alimento convencional, ya que los sellos de alimento orgánico solo garantizan que no hayan sido cultivados con pesticidas. Para desinfectar alimentos orgánicos, sólo deben lavarse bajo agua corriente.
            </br>
            </br>
            Espero que este artículo los ayude y los incentive a llevar una vida más saludable.
        </section>
    </div>
    <div class="clientSection">
        <img src="@routes.Assets.versioned("images/clientes.jpg")" alt="Clientes" class="clientesImg">
        <section class="section2">
            <h3 class="titleSection">Clientes satisfechos</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas non ipsum sed fermentum. Cras dictum orci leo, in porttitor metus scelerisque et. Maecenas neque sem, dictum sed maximus a, lobortis eu enim. Phasellus massa turpis, tempus non leo id, vestibulum aliquet odio. Suspendisse quis eleifend lectus. Nam a diam fermentum mauris gravida vehicula eu quis dolor. Nulla odio lectus, euismod eget cursus vel, iaculis a libero. Sed dui sem, consectetur in augue sit amet, vulputate faucibus arcu. Pellentesque vitae porttitor enim. Quisque vehicula semper vestibulum.
                </br>
                Aenean rutrum lacus nec volutpat lacinia. Mauris quam sem, efficitur et lectus quis, consequat pharetra velit. Donec id quam orci. Ut at mi sollicitudin, accumsan arcu quis, lobortis quam. Integer eu sapien non augue ornare auctor. Aliquam erat volutpat. Aliquam lacinia nisl nec enim pellentesque euismod. Duis arcu diam, lacinia vel mattis eu, hendrerit ac ligula. Nullam pulvinar enim eget tempus elementum. Morbi pulvinar nisi nec lectus lobortis consectetur.
                </br>
                </br>
                Praesent ut elementum justo, in pharetra lectus. Fusce non quam id nisl viverra molestie nec quis lorem. Cras feugiat ullamcorper ex, nec efficitur ipsum ultricies id. Maecenas mauris diam, congue in nisi nec, egestas tincidunt ipsum. Duis eget lacus massa. Sed egestas eros sed condimentum pulvinar. Mauris et sem feugiat, varius purus sit amet, mollis enim. Integer semper diam non nulla commodo tincidunt. Aenean ut porttitor velit, at tempor dolor. Proin facilisis sapien odio, a mollis lorem pretium sit amet. Duis varius mi ipsum, at euismod nisi ultrices vel. Donec vulputate, ex a euismod ultricies, ipsum enim eleifend ex, et malesuada risus felis eget leo. Aenean sit amet sem condimentum, dapibus tellus fermentum, rhoncus orci. Sed tincidunt nunc felis, ut sollicitudin magna pellentesque vitae. Sed bibendum vestibulum condimentum. Mauris sem tortor, interdum eu volutpat vel, vestibulum sed elit.
            </p>
        </section>
    </div>
    <footer class="footer">
        <p>Created by: Cristian Medina</p>
        <p>Contact information: <a href="mailto:someone@@example.com">cris91i22@@gmail.com</a>.</p>
    </footer>
}
